page {
  height: 100%;
}
.share-page {
  min-height: 100%;
  background: #8bcff4;
  overflow-y: auto;
  padding: 60px 0;
  /* padding-bottom: 150px; */
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.bottom {
  height: 300px;
  margin-bottom: -300px;
  position: relative;
}

.bottom ad {
  position: absolute;
  left: 0;
  bottom: 0;
}

.share-page .card {
  background: #e3f3fd;
  border-radius: 15px;
  margin: 0 30px;
  position: relative;
}

.share-page .card.secord {
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 12px;
}

.share-page .card-title {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: -10px;
  width: 300px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  background: url(https://fs.andylistudio.com/mbook/v3/images/title_bg.png) no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.share-page .card .right-shut {
  width: 80px;
  height: 80px;
  background: #8bcff4;
  transform: rotate(45deg);
  position: absolute;
  right: -40px;
  top: -40px;
}

.share-page .info {
  font-size: 32px;
  color: #535353;
  text-align: left;
  display: inline-block;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 90px;
  overflow: hidden;
}

.share-page .info .left {
  display: inline-block;
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
  text-align: left;
}

.share-page .info .right {
  display: inline-block;
  width: 50%;
  padding-right: 30px;
  box-sizing: border-box;
  text-align: right;
}

.share-page .info .padding {
  display: inline-block;
  padding-left: 20px;
}

.share-page .operation {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
}

.share-page .operation button {
  display: inline-block;
  width: 250px;
  height: 80px;
  line-height: 80px;
  border-radius: 10px;
  background: #f4c33d;
  outline: none;
  border: none;
  color: #882d00;
  font-size: 32px;
  margin: 0 0 20px 0;
}

.share-page .operation button:active {
  background: #e2ad1b;
}

.share-page .operation .back-btn {
  margin-left: 60px;
}

.share-page .rule {
  display: block;
  font-size: 30px;
  color: #30375e;
  background: #ffefc4;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 2px dashed #a0a0a0;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.share-page .rule .text {
  background: #ffefc4;
  padding: 0 30px;
  line-height: 1.7em;
}

.share-page .rule .circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #8bcff4;
  position: absolute;
  top: -12px;
}

.share-page .rule .circle.left-circle {
  left: -12px;
}

.share-page .rule .circle.right-circle {
  right: -12px;
}

.share-page .table {
  width: 96%;
  margin: 0 auto;
  border: 2px solid #a0a0a0;
  border-radius: 12px;
  font-size: 30px;
  color: #535353;
}

.share-page .table .row {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.share-page .table .row.yellow {
  background: #ffcc21;
}
.share-page .table .bodys .row {
  border-bottom: 2px solid #a0a0a0;
}
.share-page .table .row .row-item {
  text-align: center;
  padding: 15px 0;
}
.share-page .table .bodys .row .row-item {
  padding: 12px 0;
}
.share-page .table .row .row-item.one {
  width: 15%;
}
.share-page .table .row .row-item.two {
  width: 30%;
}
.share-page .table .row .row-item.three {
  width: 23%;
}
.share-page .table .row .row-item.four {
  width: 32%;
}
.share-page .no-data {
  text-align: center;
  padding: 30px 0;
}
.share-page .look-more {
  text-align: center;
  padding: 20px 0;
}
.share-page .no-more {
  text-align: center;
  padding: 20px 0;
}

.share-panel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.share-panel .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.share-panel .panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  box-sizing: border-box;
  height: auto;
  background: #ebeef0;
  z-index: 2;
}
.share-panel .panel .title {
  text-align: center;
  padding: 0px 0 20px 0;
  font-size: 30px;
  color: #535353;
}
.share-panel .panel .container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.share-panel .panel-item {
  /* width: 100rpx; */
  text-align: center;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 20px;
  background: none;
  font-size: 30px;
  color: #535353;
  line-height: 1em;
  border-radius: 0;
}
.share-panel .panel-item::after {
  border: none;
}
.share-panel .panel-item .text {
  margin-top: 20px;
}
.show {
  animation: modalSlideIn 0.4s ease;
  animation-fill-mode: forwards;
}
.icon-friend {
  display: block;
  margin: 0 auto;
  background: url(https://fs.andylistudio.com/1532025842740.png) no-repeat;
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}
.icon-friendQ {
  display: block;
  margin: 0 auto;
  background: url(https://fs.andylistudio.com/1532025842748.png) no-repeat;
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}
.icon-qq {
  display: block;
  margin: 0 auto;
  background: url(https://fs.andylistudio.com/1532025842763.png) no-repeat;
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
}
.wxfriend {
  margin-top: -150px;
  padding: 0 20px;
}
.wxfriend .title {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
  color: #ffffff;
}

.wxfriend .des {
  margin-top: 20px;
  color: #f8f8f8;
  font-size: 28px;
  text-align: center;
}
.wxfriend .wx-text {
  color: #f8f8f8;
  font-size: 32px;
}
.wxfriend > image {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.wxfriend .link {
  text-decoration: underline;
  color: #f8f8f8;
}
.wxfriend .save {
  text-align: center;
  font-size: 32px;
  padding: 10px 0;
}

@keyframes modalSlideIn {
  from {
    bottom: -1998px;
  }

  to {
    bottom: 0;
  }
}

.share-modal .share-img {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.share-modal .des {
  font-size: 32px;
  text-align: left;
  padding: 30px 15px;
}
