page {
  height: 100vh；;
}
.read-time {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.panel {
  width: 84%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 20px 10px #f3f3f3;
  -moz-box-shadow: 0px 10px 20px 10px #f3f3f3;
  box-shadow: 0px 10px 40px 10px #f3f3f3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  font-size: 36px;
  color: #40424e;
}

.award-text {
  margin-top: 20px;
}

.award-text .num {
  font-size: 50px;
  font-weight: bold;
  color: #212735;
  padding: 0 10px;
}

.award-btn {
  width: 85%;
  box-sizing: border-box;
  border: none;
  background-image: linear-gradient(to top, #23a0fc 0%, #52b6ff 100%);
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 36px;
  padding: 10px;
  box-sizing: border-box;
}

.des {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: #40424e;
  padding: 0 20px;
  box-sizing: border-box;
}
