page {
  height: 100%;
}

.friend-help {
  height: 100%;
}

.friend-help .bg {
  width: 100%;
  height: 400px;
}

.friend-help .content {
  position: relative;
  top: -130px;
}

.friend-help .title {
  display: -webkit-flex;
  display: flex;
  height: 130px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.8);
  line-height: 1.6em;
  padding-left: 30px;
}

.friend-help .title .name {
  color: #24272c;
  font-size: 36px;
}

.friend-help .title .des {
  color: #acacac;
  font-size: 24px;
}

.friend-help .books {
  padding: 20px 0;
}

.friend-help .books .loading-img {
  display: block;
  width: 180px;
  margin: 0 auto;
  height: 180px;
}

.friend-help .books .loading-text {
  text-align: center;
  color: #acacac;
  font-size: 28px;
  margin-top: -10px;
}

.friend-help .icon-zanwushuju {
  font-size: 240px;
  color: #9e9e9e;
}

.friend-help .book-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.friend-help .book-item .img {
  width: 20%;
  height: 200px;
  box-shadow: 0 0 24px #ccc;
}

.friend-help .book-item .left {
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
}

.friend-help .book-item .left .name {
  color: #23272a;
  font-size: 34px;
}

.friend-help .book-item .left .author {
  color: #7b7f82;
  font-size: 28px;
}

.friend-help .book-item .right {
  display: inline-block;
  margin: 0;
  width: 160px;
  height: 64px;
  background: -webkit-linear-gradient(left, #0f81fb, #019dff);
  background: linear-gradient(to right, #0f81fb, #019dff);
  border-radius: 32px;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 64px;
  color: #ffffff;
  border: none;
  outline: none;
}

.friend-help .book-item .progress {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.friend-help .book-item .progress progress {
  width: 66%;
}

.fh-modal .code {
  font-weight: bold;
  color: #000000;
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
}
