/* pages/user/user.wxss */
page {
  height: 100%;
  width: 100%;
}

.user {
  position: relative;
}

.user-info {
  background-image: linear-gradient(to top, #eff4fb 0%, #f6f7fb 100%);
  height: 50%;
  padding-top: 30px;
}

.user-info .avatar {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-left: 8%;
  margin-right: 30px;
}

.user-info .info {
  display: inline-block;
  position: relative;
  top: -4px;
  color: #949597;
  box-sizing: border-box;
}

.user-info .info .username {
  color: #333333;
  font-size: 36px;
}

.user-info .des {
  position: absolute;
  left: 8%;
  top: 160px;
  color: #7689ab;
  font-size: 28px;
}

.user-info .info .amount {
  position: relative;
  top: -5px;
}

.user-info .info .amount .num {
  color: #333333;
  font-weight: 600;
  font-size: 34px;
  margin-right: 10px;
}

.user-info .word {
  color: #7689ab;
  font-size: 32px;
  margin: 70px 8% 0 8%;
}

.icon-qianbi {
  color: #ffd800;
  margin-right: 20px;
  position: relative;
  top: 2px;
}

.main {
  position: absolute;
  -webkit-box-shadow: 0px 4px 40px 10px #edf7fe;
  -moz-box-shadow: 0px 4px 40px 10px #edf7fe;
  box-shadow: 0px 4px 40px 10px #edf7fe;
  height: 460px;
  width: 84%;
  left: 8%;
  top: 50%;
  margin-top: -230px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #3399ff;
}

.main navigator {
  flex: 50%;
  height: 50%;
  position: relative;
}

.main .main-item .iconfont {
  display: block;
  font-size: 54px;
  font-weight: 500;
  margin-top: 52px;
  margin-bottom: 10px;
}

.main .main-text {
  font-size: 30px;
}

.main .main-item .icon-chongzhi {
  font-size: 48px;
}

.main-item .border.top {
  height: 3px;
  width: 64%;
  background: #ebedf3;
  position: absolute;
  top: 0;
  left: 18%;
}

.main-item .border.bottom {
  height: 3px;
  width: 64%;
  background: #ebedf3;
  position: absolute;
  bottom: 0;
  left: 18%;
}

.main-item .border.right {
  height: 68%;
  width: 3px;
  background: #ebedf3;
  position: absolute;
  left: 0;
  top: 16%;
}

.main-item .border.left {
  height: 68%;
  width: 3px;
  background: #ebedf3;
  position: absolute;
  right: 0;
  top: 16%;
}

.other {
  padding-top: 240px;
  box-sizing: border-box;
}

.setting,
.about-us {
  height: 100px;
  line-height: 100px;
  text-align: left;
  color: #999999;
  font-size: 36px;
  position: relative;
  margin-left: 6%;
}

.icon-arrow-right {
  position: absolute;
  top: 0;
  right: 6%;
  line-height: 100px;
}

.icon-iconzhenghe15 {
  font-size: 46px;
  margin-right: 30px;
  position: relative;
  top: 5px;
}

.icon-guanyuwomen {
  font-size: 42px;
  margin-right: 30px;
  position: relative;
  top: 4px;
}

.icon-yijianfankui {
  font-size: 42px;
  margin-right: 30px;
  position: relative;
  top: 4px;
}

/* 意见反馈 */
.feedback {
  display: block;
  background: none;
  border: none;
  padding: 0;
}

.feedback::after {
  border: none;
}