.no-data{
  text-align: center;
}
.no-data .text{
  color: #333;
  font-size: 26px;
}
.no-data .sub-text{
  color: #c3c3c3;
  font-size: 24px;
  margin-top: 10px;
}
.no-data .btn{
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 50px;
}