.account {
  position: relative;
}
.panel {
  width: 84%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 20px 10px #f3f3f3;
  -moz-box-shadow: 0px 10px 20px 10px #f3f3f3;
  box-shadow: 0px 10px 40px 10px #f3f3f3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  font-size: 36px;
  color: #40424e;
}

.main-text {
  font-size: 32px;
}

.num {
  font-size: 60px;
  font-weight: bold;
  color: #212735;
  padding: 0 10px;
}

.charge-btn {
  width: 85%;
  box-sizing: border-box;
  border: none;
  background-image: linear-gradient(to top, #23a0fc 0%, #52b6ff 100%);
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 36px;
  padding: 10px;
  box-sizing: border-box;
}

.tab {
  height: 80px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  /*border-bottom: 1px solid rgba(0,0,0,.15);*/
  box-sizing: border-box;
  margin-top: 60px;
  margin-bottom: 20px;
}

.tab-item {
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #40424e;
  font-size: 32px;
}

.tab-item.active {
  color: #aed3f6;
  border-bottom: 8px solid #aed3f6;
}

.content {
  flex: 1;
}

.content-item {
  height: 100%;
  position: relative;
}

.award-item {
  width: 100%;
  padding: 15px 30px;
  border-bottom: 2px solid #d7d7d7;
  position: relative;
  box-sizing: border-box;
}

.award-item:last-child {
  border-bottom: none;
}

.award-item .award-num {
  color: #e64340;
  font-weight: bold;
  font-size: 44px;
}

.award-item .award-num .right {
  margin-right: 6px;
}

.award-item .award-des {
  font-size: 32px;
  color: #40424e;
}

.award-item .award-time {
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 30px;
  color: #40424e;
}

.buy-item {
  width: 100%;
  padding: 15px 30px;
  border-bottom: 2px solid #d7d7d7;
  position: relative;
  box-sizing: border-box;
  height: 230px;
}

.buy-item:last-child {
  border-bottom: none;
}

.buy-item .book-img {
  display: inline-block;
  width: 150px;
  height: 200px;
  position: absolute;
  left: 30px;
  top: 12px;
}

.buy-item .buy-num {
  color: #1aad19;
  font-weight: bold;
  font-size: 44px;
  position: absolute;
  top: 12px;
  right: 30px;
}

.buy-item .buy-num .right {
  margin-right: 6px;
}

.buy-item .buy-des {
  font-size: 32px;
  line-height: 1.6em;
  color: #40424e;
  padding-left: 170px;
}

.no-data {
  text-align: center;
  color: #40424e;
  font-size: 32px;
  padding: 20px 0;
}

.loadmore {
  text-align: center;
  color: #40424e;
  font-size: 32px;
  padding: 20px 0;
  border-bottom: 2px solid #d7d7d7;
}
.charge-modal {
  text-align: center;
}
.charge-modal .wxname {
  display: inline-block;
  padding: 8px 20px;
  background: #aed3f6;
  color: #ffffff;
  text-align: center;
  margin: 20px auto;
}
.charge-modal .des {
  font-size: 32px;
  text-align: left;
  padding: 30px 15px;
}
.charge-modal .contact-btn {
  font-size: 34px;
  margin: 10px 0;
}