page {
  height: 100%;
}

.load-page {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding-top: 30%;
}

.load-page::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://fs.andylistudio.com/1548171920584.jpeg) repeat-y;
  background-size: cover;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.load-page .app-logo {
  display: block;
  margin: 0 auto 0px auto;
  width: 300px;
  height: 300px;
}

.load-page .app-name {
  font-size: 34px;
  text-align: center;
  color: #353535;
}

.load-page .status {
  margin-top: 40px;
  color: #666666;
}

.load-page .status-item {
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.load-page .status-item .loading {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.load-page .status-item > button {
  width: 50%;
  box-sizing: border-box;
  border: none;
  background-image: linear-gradient(to top, #23a0fc 0%, #52b6ff 100%);
  margin-top: 100px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 28px;
  padding: 8px;
  box-sizing: border-box;
}

.load-page .status-item > button:active {
  background-image: linear-gradient(to top, #0891f5 0%, #4091cc 100%);
}
